.TabContainer{
  margin-top: 10px !important;
  margin-bottom: 20px !important;
  box-shadow: 2px 2px 5px rgba(109, 109, 109, 0.1);
  border-radius: 2px !important;
}

.TabRSContainer{
  margin-top: 10px !important;
  margin-bottom:20px !important;
  box-shadow: 2px 2px 5px rgba(109, 109, 109, 0.1);
  border-radius: 2px !important;
}