.FooterContainer{
  margin: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px rgba(109, 109, 109, 0.1);
}

.LinkTitle{
    color: #7d51a7 !important;
    font-weight: bold;
    text-decoration:none!important;
  }

.furgh{
  height: 48px;
  width: 120px;
   }
  
.c3h{
  height: 50px;
  width: 100px;
  margin-left: 30px;
   }

.footerfonts{
  font-size: 18px;
}

@media only screen and (max-width: 868px) {
  .footerfonts{
    font-size: 14px;
  }
}