/* .coluna-header{
  position: relative;
  margin-left: 135px;
  margin-right: 135px;
} */
.ContainerNav{
  
  box-shadow: 2px 2px 5px rgba(109, 109, 109, 0.1);
  border-radius: 2px !important;
  margin-bottom:20px;
}

.furg{
  height: 48px;
  width: 120px;
  display: flex;
 }

.c3{
  height: 50px;
  margin-left: 30px;
  width: 100px;
}

.logo-title{
  font-size: 30px !important;
  margin-left: 30px;
  font-weight: bold;
  color: #282828 !important;
  
} 

@media only screen and (max-width: 800px) {
  .logo-title{font-size: 20px !important;}
}


.Headerlinks{
  color: #282828 !important;
  font-weight: bold;
   
}


@media only screen and (min-width: 868px) {
  /* For desktop: */
  .HeaderContainer{  
    margin-left: 135px!important;
    margin-right: 135px!important;  }

}