/* .coluna-header{
  position: relative;
  margin-left: 135px;
  margin-right: 135px;
} */
.furg{
  height: 48px;
  width: 120px;
  display: flex;
 }

.c3{
  height: 50px;
  margin-left: 30px;
  width: 100px;
}

.logo-title{
  font-size: 20px !important;
  margin-left: 30px;
  font-weight: bold;
} 

.HeaderContainer{
  margin-right:10px;
}

@media only screen and (min-width: 868px) {
  /* For desktop: */
  .HeaderContainer{  
    margin-left: 135px!important;
    margin-right: 135px!important;  }

}